<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymApp</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="header">
        <div class="nav-container">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <i class="fas fa-dumbbell"></i>
                GymApp
            </a>
            <nav class="nav-links">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
                <a href="@Url.Action("ListarPlanes", "Home")">Planes</a>
                <a href="@Url.Action("CrearPlan", "Planes")">Crear Plan</a>
                <a href="@Url.Action("AgregarActividad", "Planes")">Crear Actividad</a>
                <a href="@Url.Action("RegistrarCliente", "Home")" class="btn-asociate">Asociate</a>
            </nav>
        </div>
    </header>

    <div class="main-content d-flex">
        @RenderBody()
    </div>

    <footer class="footer mt-auto bg-dark text-white text-center py-3">
        <div class="container">
            &copy; 2025 - GymApp - Tu Gimnasio Digital -
            <a href="#" class="text-warning text-decoration-none">Términos y Condiciones -</a>
          
            <a href="https://www.instagram.com/tu_usuario" target="_blank" class="mx-2">
                <img src="~/img/icons-instagram.svg" alt="Instagram" width="24" height="24">
            </a>
            <a href="https://www.facebook.com/tu_usuario" target="_blank" class="mx-2">
                <img src="~/img/icons-facebook.svg" alt="Facebook" width="24" height="24">
            </a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>